<div *ngIf="currentProject" fxLayout="column" fxLayoutAlign="space-around center center" class="inner-container">
  <div class="inner-container-header" fxLayout="row" fxLayoutAlign="space-between start stretch">
    <div fxLayout="row" fxLayoutAlign="space-between center center" style="padding: 10px;">
      <div class="header-item">
        // The need-to-know
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-evenly center center">
      <div class="header-item" *ngIf="(user|async)?.roles.investor">
        <button mat-raised-button color="warn" routerLink="/donate">
          <mat-icon>attach_money</mat-icon>Donate
        </button>
      </div>
      <div class="header-item" *ngIf="(user|async)?.roles.projectOwner">
        <button mat-raised-button color="warn" routerLink="/edit">
          <mat-icon>edit</mat-icon>Edit Project.
        </button>
      </div>

    </div>
  </div>

  <h1>{{currentProject.name}}</h1>
  <div class="info">
    {{ currentProject.info}}
  </div>
  <div style="display:block;" [style.width]="width">
    <slideshow #slideshow [imageUrls]="urls" [height]="height" [minHeight]="minHeight" [arrowSize]="arrowSize" [showArrows]="showArrows"
      [disableSwiping]="disableSwiping" [autoPlay]="autoPlay" [stopAutoPlayOnSlide]="stopAutoPlayOnSlide" [debug]="debug" [backgroundSize]="backgroundSize"
      [backgroundPosition]="backgroundPosition" [backgroundRepeat]="backgroundRepeat" [showDots]="showDots" [dotColor]="dotColor"
      [showCaptions]="showCaptions" [captionColor]="captionColor" [captionBackground]="captionBackground" [lazyLoad]="lazyLoad">
    </slideshow>

  </div>


  <div class="inner-container-header">
    <div class="header-item">
      // The "Numbers"
    </div>
  </div>
  <mat-grid-list cols="4" rowHeight="70px" class="tiles">
    <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color" class="tile">
      {{tile.text}}
    </mat-grid-tile>
  </mat-grid-list>

  <div class="inner-container-header">
    <div class="header-item">
      // Some Eye-candy
    </div>
  </div>
  <iframe width="750px" height="400" [src]="getVideoUrl()">
  </iframe>

</div>
<div *ngIf="!currentProject" fxLayout="column" fxLayoutAlign="space-around center center" class="inner-container spinner">
  <mat-spinner></mat-spinner>
</div>
