<div fxLayout="column" fxLayoutAlign="space-around center stretch">
  <h2 mat-dialog-title>Donation Box for: {{project.name}}!</h2>
  <!--
    ngSwitch = stage :
    creates a scope where we show the correct div according to the value in "stage"
   -->
  <mat-dialog-content [ngSwitch]="stage">
    <!-- for example, if stage = 'waiting', show this div -->
    <div *ngSwitchCase="'waiting'" fxLayout="column" fxLayoutAlign="space-between stretch center" style="width: 400px;">
      <mat-form-field appearance="outline" color="primary">
        <mat-label class="placeholder">Donation Amount (in $)</mat-label>
        <!-- ngModel:
          you can only put ngModel on input or radioor select or anything you can change in the ui
          it makes a 2-way binding, meaning if you change the input or select value, it will change the variable
          value as well and vice versa.
        -->
        <input pattern="\d*" type="number" matInput placeholder="videoLink" [(ngModel)]="donationAmount" name="da" required />
      </mat-form-field>
      <button mat-raised-button (click)="donate()" color="primary">Donate!</button>
      <button mat-raised-button [mat-dialog-close]="false" color="warn">Cancel</button>
    </div>
    <!-- for example, if stage = 'donating', show this div -->
    <div *ngSwitchCase="'donating'" class="padded">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngSwitchCase="'done'" fxLayout="column" fxLayoutAlign="space-evenly center stretch">
      <h2 class="padded">
        Thank you for Donating!
      </h2>
      <button mat-raised-button [mat-dialog-close]="false" color="warn">Close</button>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
  </mat-dialog-actions>
</div>
