<div>
  Register
</div>

<div>
  <form fxLayout="column" fxLayoutAlign="space-between center center">
    <mat-form-field class="mat-form-field-custom">
      <input matInput name="name" type="text" placeholder="Name" [(ngModel)]="_registerRequest.name">
    </mat-form-field>
    <mat-form-field class="mat-form-field-custom">
      <input matInput name="email" type="text" placeholder="Email" [(ngModel)]="_registerRequest.email">
    </mat-form-field>
    <mat-form-field class="mat-form-field-custom">
      <input matInput name="password" type="password" placeholder="Password" [(ngModel)]="_registerRequest.password">
    </mat-form-field>
    <mat-form-field class="mat-form-field-custom">
      <mat-select name="permission" type="text" [(ngModel)]="_registerRequest.role">
        <mat-option *ngFor="let permission of _permissions" [value]="permission.value">
          {{ permission.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="signup()" name="btn">Signup</button>
  </form>
  <div>
    {{ userService.errorsData | async }}
  </div>
  <button mat-raised-button color="primary" (click)="check()" name="check">check</button>
</div>
