<div class="mat-elevation-z9 inner-container">
  <div class="inner-container-header">
    <div fxLayout="row" fxLayoutAlign="space-between center center" style="padding: 10px;">
      <div class="header-item">
        // Add a new Project
      </div>
    </div>
  </div>
  <div [ngSwitch]="status">

    <form #addProjForm="ngForm" *ngSwitchCase="'waiting'" fxLayout="column" fxLayoutAlign="space-between center center" novalidate>
      <h2>
        Lets kick things off with entering the below details:
      </h2>
      <div fxLayout="column" fxLayoutAlign="space-between stretch center" style="width: 400px;">
        <mat-form-field appearance="outline" color="primary">
          <mat-label class="placeholder">Project's Name</mat-label>
          <input matInput [(ngModel)]="request.name" name="name" required/>
        </mat-form-field>
      </div>
      <div fxLayout="column" fxLayoutAlign="space-between stretch center" style="width: 400px;">
        <mat-form-field appearance="outline" color="primary">
          <mat-label class="placeholder">Youtube's Video ID</mat-label>
          <input matInput [(ngModel)]="request.videoLink" name="video" required />
        </mat-form-field>
      </div>
      <div fxLayout="column" fxLayoutAlign="space-between stretch center" style="width: 400px;">
        <mat-form-field appearance="outline" color="primary">
          <mat-label class="placeholder">Oneliner for preview</mat-label>
          <input matInput [(ngModel)]="request.oneLiner" name="oneliner" required />
        </mat-form-field>
      </div>
      <div fxLayout="column" fxLayoutAlign="space-between stretch center" style="width: 400px;">
        <mat-form-field appearance="outline" color="primary">
          <mat-label class="placeholder">Project's Information</mat-label>
          <textarea matInput minRows="10" minLength="300" matAutosizeMinRows="30" [(ngModel)]="request.info" name="info" required></textarea>
        </mat-form-field>
      </div>
      <div fxLayout="column" fxLayoutAlign="space-between stretch center" style="width: 400px;">
        <mat-form-field appearance="outline" color="primary">
          <mat-label class="placeholder">Funding Needed ($)</mat-label>
          <input matInput [(ngModel)]="request.totMoneyNeeded" type="number" name="totMoneyNeeded" required />
        </mat-form-field>
      </div>
      <div fxLayout="column" fxLayoutAlign="space-between stretch center" style="width: 400px;">
        <mat-form-field appearance="outline" color="primary">
          <mat-label class="placeholder">Deadline</mat-label>
          <input required matInput [min]="minDate" [matDatepicker]="picker" [(ngModel)]="request.endDate" name="endDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="month"></mat-datepicker>
        </mat-form-field>
      </div>
      <div style="width: 400px;" fxLayout="row" fxLayoutAlign="space-between center center">
        <div class="upload-btn-wrapper">
          <button [ngClass]="files[0] ? 'btnGood': 'btn'"> {{ files[0] ? files[0].name: 'Poster pic'}}</button>
          <input type="file" id="thumbnail" (change)="updateFile($event,0)" required>
        </div>
      </div>
      <div style="width: 400px;" fxLayout="row" fxLayoutAlign="space-between center center">
        <div class="upload-btn-wrapper">
          <button [ngClass]="files[1] ? 'btnGood': 'btn'"> {{ files[1] ? files[1].name: 'Choose one picture at least'}}</button>
          <input type="file" id="thumbnail" (change)="updateFile($event,1)" required>
        </div>
      </div>
      <div style="width: 400px;" fxLayout="row" fxLayoutAlign="space-between center center">
        <div class="upload-btn-wrapper">
          <button [ngClass]="files[2] ? 'btnGood': 'btn'">{{ files[2] ? files[2].name: 'Another Optional Picture'}}</button>
          <input type="file" id="thumbnail" (change)="updateFile($event,2)" required>
        </div>
      </div>
      <div style="width: 400px;" fxLayout="row" fxLayoutAlign="space-between center center">
        <div class="upload-btn-wrapper">
          <button [ngClass]="files[3] ? 'btnGood': 'btn'">{{ files[3] ? files[3].name: 'Thumbnail (Choose one that will stand out!)'}}</button>
          <input type="file" id="thumbnail" (change)="updateFile($event,3)" required>
        </div>
      </div>
      <div class="create-btn">
        <button mat-raised-button color="primary" (click)="addProject()" [disabled]="!addProjForm.form.valid || files[0] === undefined|| files[1] === undefined || files[3] === undefined">
          Create Project!
        </button>
      </div>

    </form>

    <div *ngSwitchCase="'creating'" class="working" fxLayout="column" fxLayoutAlign="space-around center center">
      Please wait while we setup your project...
      <mat-spinner></mat-spinner>
    </div>
    <div *ngSwitchCase="'done'" class="working" fxLayout="column" fxLayoutAlign="space-around center center">
      Done!
      <span style="font-size: 15px">You are being redirected...</span>
    </div>
  </div>
</div>
