<div fxLayout="column" fxLayoutAlign="space-between center center" [@itemFade]>
  <div fxLayout="column" fxLayoutAlign="space-evenly center center" class="container">
    <div fxLayout="column" fxLayoutAlign="center center">
      <img src="../../../assets/logo.png" class="logo" routerLink="/home"/>
      <h1>
        AFEKickstarter.
      </h1>
    </div>
    <div>
      <form fxLayout="column" fxLayoutAlign="space-evenly stretch center " fxLayoutGap="20px">
        <mat-form-field appearance="outline" color="warn">
          <mat-label class="placeholder">Email</mat-label>
          <input matInput name="email" type="text" placeholder="" [(ngModel)]="_loginRequest.email">
          <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" color="warn">
          <mat-label class="placeholder"> Password</mat-label>
          <input matInput name="password" type="password" placeholder="Password" [(ngModel)]="_loginRequest.password">
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
        <button mat-raised-button color="warn" (click)="login()" name="loginBtn">Login</button>
        <button mat-raised-button color="warn" routerLink="/register" name="registerBtn">No User? Register.</button>
      </form>
    </div>
    <div>
    </div>
  </div>
</div>
