<div>
  Login</div>

<div>
  <form fxLayout="column" fxLayoutAlign="space-evenly center center">
    <mat-form-field class="mat-form-field-custom">
      <input matInput name="email" type="text" placeholder="Email" [(ngModel)]="_loginRequest.email">
    </mat-form-field>
    <mat-form-field class="mat-form-field-custom">
      <input matInput name="password" type="password" placeholder="Password" [(ngModel)]="_loginRequest.password">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="login()" name="btn">Signup</button>
  </form>
  <div>
    {{ userService.errorsData | async }}
  </div>
</div>
