<div fxLayout="column" fxLayoutAlign="center center" class="inner-container">
  <div class="inner-container-header">
    <div fxLayout="row" fxLayoutAlign="space-between center center" style="padding: 10px;">
      <div class="header-item">
        // Projects
      </div>
      <div fxFlex fxLayout="row" fxLayoutAlign="space-evenly center center" class="header-item">
        <div style="font-size: 16px;padding:0px 8px;">
          [ Live Projects: {{ (projectsLive)}} ]
        </div>
        <div style="font-size: 16px;padding:0px 8px">
          [ kicked so far: {{ projectsCompletedQuery}}]
        </div>
        <div style="font-size: 16px;padding:0px 8px">
          [ Total Money Raised: {{numberWithCommas(projectsAmountFundedQuery)}}$ ]
        </div>
        <div *ngIf="!_projects">
          <mat-spinner color="accent" [diameter]="22"></mat-spinner>
        </div>
      </div>

    </div>
  </div>

  <div [@listAnimation]="_projects ? _projects.length: 0" [fxLayout]="'row wrap'" class="previews-wrapper">
    <div *ngFor=" let proj of _projects " [hidden]="!_projects" class="col">
      <app-single-project [project]="proj "></app-single-project>
    </div>
  </div>

  <div *ngIf="!_projects " class="spinner ">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="_projects && _projects.length === 0" class="no-data">
    No Projects exist... Add a new Idea of your Own!
  </div>
</div>
