.header-title {
  font-weight: bolder;
  font-size: 20px;
}

.header {
  color: rgb(34, 34, 34);
  justify-content: center;
  width: 100%;
  border-bottom: 5px dotted rgb(41, 41, 41);
}

.preview-container {
  height: 420px;
  width: 280px;
  margin: 15px 15px;
  border-top: 5px solid orange;
  border-bottom: 5px solid orange;
  border-radius: 5px;
}

.preview-container-completed {
  height: 420px;
  width: 280px;
  margin: 15px 15px;
  border-top: 5px solid rgb(26, 158, 0);
  border-bottom: 5px solid rgb(26, 158, 0);
  border-radius: 5px;
}
.preview-container-expired {
  height: 420px;
  width: 280px;
  margin: 15px 15px;
  border-top: 5px solid rgb(26, 158, 0);
  border-bottom: 5px solid rgb(26, 158, 0);
  border-radius: 5px;
}

.preview-info {
  background: rgb(0, 124, 240);
  color: white;
  font-size: 12px;
  font-weight: bolder;
}
.preview-info-data {
  font-size: 18px;
}
