/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  overflow-y: hidden;
  margin: auto 0;
  font-family: 'Courier New', Courier, monospace;
}

.mat-form-field-custom {
  border: 1px solid rgb(150, 150, 255);
  border-radius: 5px;
  padding: 0px 15px;
  transition: 300ms ease-in-out;
}

.mat-form-field-custom:hover {
  border: 1px solid rgb(0, 0, 255);
  border-radius: 5px;
  padding: 0px 15px;
  transition: 300ms ease-in-out;
}

.error-card {
  background-color: rgb(255, 21, 21);
  color: white;
  font-weight: bold;
  border-radius: 2px;
  max-width: 50%;
}
